

progress {
    border-radius: 30px; 
    width: 85%;
    height: 75%;
    margin-top: 7.5%;
    margin-bottom: 10%;
  }
  progress::-webkit-progress-bar {
    background-color: #eaa846;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px #eaa846; 
  }
  progress::-webkit-progress-value {
    background-color: #880808;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px #eaa846; 
  }

.enemy-health-bar {
    width: 15vw;
    height: 100%;;
    background-image: url(../../Assets/Backgrounds/golden-new-video-frame-background-image-11.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.player-health-bar {
    width: 15vw;
    height: 100%;
    background-image: url(../../Assets/Backgrounds/golden-new-video-frame-background-image-11.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.health-bar-container {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.trigger-button {
    height: 30rem;
    width: 30rem;
}

.trigger-container {
    background: none;
    border: none;
    outline: none;
    height: 30rem;
    width: 30rem;
}

.game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-size: cover;
}


@font-face {
    font-family: Imported;
    src: url(../../Assets/Fonts/angelWish.ttf)
  }

.next-mission-button, .back-to-main-page {
    font-family: Imported;
    font-size: 75px;
}

.model-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fire-container {
    border: none;
}

.fire-indicator {
    
    height: 20vh;
    width: 20vw;
}

/* .hidden {
    display:none
} */