@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');

App {
  text-align: center;
}

.title-page {
  height: 110vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('../../Assets/Backgrounds/cathedral.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 100px;
  color: black;
  /* -webkit-text-stroke: 0.25px white; */
}

.main-title {
  flex-direction: column;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 200px;
  color: black;
  padding-bottom: 30vh;
  -webkit-text-stroke: 1.5px white;
}

.play-game-button-container {
  justify-content: center;
}

.play-game-button {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 40px;
  color: whitesmoke;
  height: 10vh;
  width: 26vw;
  background: none;
  border-radius: 15px;
  -webkit-text-stroke: 1px white;
  box-shadow: 0px 0px 2px 2px whitesmoke;
}

.play-game-button:hover,
.play-game-button:focus {
    box-shadow:
        inset -3.5em 0 0 0 var(--hover),
        inset 3.5em 0 0 0 var(--hover);
        color: red;
    }

.logo-container {
  justify-content: flex-start;
  align-self: flex-end;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  padding-right: 2vw;
  color: rgb(254, 251, 220);
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 10vh;
  width: 7vw;
}

