.App {
  text-align: center;
}

.title-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@font-face {
  font-family: Imported;
  src: url(../../Assets/Fonts/angelWish.ttf)
}

h1 {
  font-family: Imported;
  font-size: 100px;
  color: black;
  -webkit-text-stroke: 0.25px white;
}

.main-title {
  font-family: Imported;
  font-size: 200px;
  color: black;
  -webkit-text-stroke: 0.25px white;
}

.play-game-button {
  font-family: Imported;
  font-size: 75px;
}